$columns: (
	1: 100%,
	2: 50%,
	3: 33.33%,
	4: 25%,
	5: 20%,
	6: 16.66%,
	7: 14.28%,
	8: 12.5%,
	9: 11.11%
);

$columns__margin: 3.8%;

.wp-block-columns {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
.wp-block-column:nth-child(2n) {
    margin-left: 0;
}
@media (min-width: 768px) {
	.wp-block-columns {
	    display: flex;
	    flex-direction: row;
	}
	wp-block-column + .wp-block-column {
	    margin-top: 0px;
	}
	.wp-block-column:nth-child(2n) {
	    margin-left: 2em;
	}
}